include ../bemto/bemto.pug
header.header
    +b.headertop
        +b.container
            +b.headertop-row
                +b.menu
                    +b.NAV
                        +e.BUTTON(type='button' onclick="showHide('js-block_id')").btn#js-bar-btn                          
                        +e.UL.top#js-block_id
                            +e.item
                                +e.A(href='#') О компании
                            +e.item
                                +e.A(href='#') Услуги
                            +e.item
                                +e.A(href='#') Лицензия
                            +e.item
                                +e.A(href='#') Доставка
                            +e.item
                                +e.A(href='#') Контакты
                            +e.item
                                +e.A(href='#') Прокат              
                +b.FORM.headerform
                    +e.INPUT.input(type='text', placeholder='Поиск по сайту')
                +b.logincart
                    +b.login
                        +e.item
                            +e.A(href='#') Вход
                    +b.cart
                        +e.item
                            +e.A(href='#') Моя корзина
                            +e.SPAN.kol 0
    +b.headerbottom
        +b.container
            +b.haderbottom-row
                +b.logo
                    +e.a(href='#')
                        +e.img(src='/images/logo.png', alt='')
                +b.contact
                    +e.p Россия, 44018, г. Пенза, ул. Средняя, 9
                    +e.p пн-пт 8:30-8:00, сб 8:30-16:00, вс выходной
                    +e.A.item(href="#") Как до нас добраться
                +b.contact
                    +e.p +7 (8412) 68-02-11, 68-43-70 
                        +e.SPAN.color Магазин 
                    +e.p +7 (8412) 68-38-62 
                        +e.SPAN.color Отдел заказов
                    +e.p +7 (8412) 68-02-11 
                        +e.SPAN.color Ремонт и обслуживание
                +b.hire
                    +e.P.p Мы осуществляем прокат изделий:
                    +e.item
                        +e.weight Весы для новорожденных 
                            +e.SPAN.color (...)
                        +e.block
                            +e.a(href='#')
                                +e.button(type='button').inhire в прокат »