- var catalogList = [{title: "Массажные столы Vernam",item: ["Складные массажные столы", "Аксессуары для массажа", "Стационарные массажные столы"],catalogImg: "/images/massage.png",catalogUrl: "#"},{title: "Товары для дома",item: ["Мать и дитя", "Тонометры", "Ингаляторы", "Коляски инвалидные", "Физиотерапевтические аппараты"],catalogImg: "/images/home.png",catalogUrl: "#"}];
	mixin assortiment(catalog)
		
			+e.column
				+e.block
					+e.IMG.image-block(src=catalog.catalogImg)
				+e.block
					+e.A.caption(href=catalog.catalogUrl)= catalog.title
					+e.UL
						each item in catalog.item
							+e.item
								+e.a(href=catalog.catalogUrl)= item