@import 'variables';
* {
	box-sizing: border-box;
}
body {
	font: $base-weight $base-size + 4px "Open Sans";
	line-height: 18px;
	color: $black;		
}
.header {
	flex: 0 0 auto;
}
.main {
	flex: 1 0 auto;
}
.asortiment-catalog__img img, .item__img img {
	max-width: 100%; 
	height: auto;
}
.showmore {
	margin-top: 10px;
	font: $base-weight + 200 italic $base-size "Open Sans";	 
	margin-left: 15px; 
	white-space: nowrap; 
	color: $lochmara; 
	border-bottom: 1px dashed $lochmara;
}
.content {
	padding: 20px;
}
.container {
	&__h4 {
		margin: 30px 0 50px;
		text-align: center;
		color: $gray;
		text-transform: uppercase;
		font: 400 14px "Open Sans";		
	}
	&__h2 {
		text-align: center;
		font: 300 36px "Open Sans";
		color: $black;
		padding: 20px 0 20px 0;
	}
	&__p {
		text-align: center;
		font-size: $base-size + 4px;
		margin-bottom: 20px;
		line-height: 20px;
	}
}
.contact {
	&__p {
	line-height: 25px;
	}
	&__item {
		font-weight: 600;	
		color: $lochmara;
		border-bottom: 1px solid $lochmara;
		line-height: 25px;
	}
	&__color {
		color: $black;
	}
}
.grid {
	&__col-3 {
		position: relative;	
		padding: 15px;
		background: white;		
	}
	&__aparat {
		font-size: 12px;
		color: $gray;
		margin-bottom: 15px;
	}
	&__name {
		margin: 0 auto 20px;
	}
	&__a {
		width: 240px;
		font: 700 18px "Open Sans";		
		color: $lochmara;		
		line-height: 20px;
	}
	&__price {
		font: 600 18px "Open Sans";		
		color: $black;		
	}
	&__pricenew {
		font: 600 18px "Open Sans";		
		color: $black;		
		vertical-align: text-bottom;
	}
	&__oldprice {
		font: 600 12px "Open Sans";
		color: $jaffa;
		margin-right: 15px;
		text-decoration: line-through;
	}
	&__priceno {
		font: 600 12px "Open Sans";
		color: $black;
	}
	&__buy {
		display: block;
		font: 600 12px "Open Sans";
		color: $white;
		text-transform: uppercase;
		text-align: center;
		width: 100px;
		margin: auto;
		background: $carnation;
		padding: 10px;
		border-radius: 3px;
		margin-top: 20px;
		border: 0;
		cursor: pointer;	
	}
	text-align: center;	    
	&__img {
		height: 204px;
		margin-bottom: 30px;
	}
	&__stickernew{
		position: absolute;
		top: 195px;
		left: 0;
		background: $sushi;
		padding: 5px;
		font: $base-weight + 200 $base-size - 3px "Open Sans";
		color: $white;
		z-index: 9999;
	}
	&__stickerbest {
		position: absolute;
		top: 195px;
		left: 0;
		background: $jaffa;
		padding: 5px;
		font: $base-weight + 200 $base-size - 3px "Open Sans";
		color: $white;
		z-index: 9999;
	}
	&__stickerhit {
		position: absolute;
		top: 195px;
		left: 0;
		background: $mediumpurple;
		padding: 5px;
		font: $base-weight + 200 $base-size - 3px "Open Sans";
		color: $white;
		z-index: 9999;
	}
	&__caption {
		padding: 0 20px;
		min-height: 220px;
	}
	&__for {
		font-size: $base-size + 4px;
		color: $black;
		line-height: 20px;
	}
}
.product-subcategory {
	&__aparat {
		font-size: 12px;
		color: $gray;
		margin-bottom: 15px;
	}
	&__name {
		margin: 0 auto 20px;
	}
	&__a {
		width: 240px;
		font: 700 18px "Open Sans";		
		color: $lochmara;		
		line-height: 20px;
	}
	&__price {
		font: 600 18px "Open Sans";		
		color: $black;		
	}
	&__pricenew {
		font: 600 18px "Open Sans";		
		color: $black;		
		vertical-align: text-bottom;
	}
	&__oldprice {
		font: 600 12px "Open Sans";
		color: $jaffa;
		margin-right: 15px;
		text-decoration: line-through;
	}
	&__priceno {
		font: 600 12px "Open Sans";
		color: $black;
	}
	&__buy {
		font: 600 12px "Open Sans";
		color: $white;
		text-transform: uppercase;
		text-align: center;
		width: 100px;
		margin: auto;
		background: $carnation;
		padding: 10px;
		border-radius: 3px;
		margin-top: 20px;
		border: 0;
		cursor: pointer;	
	}
}
.interestoffers {
	background: url(/images/pattern.png);
	padding-bottom: 20px;
}
.interest {
	background: url(/images/pattern.png);
	padding: 30px;
	text-align: center;
	margin-top: 40px;
}
.tabs {
	text-align: center;
	margin-bottom: 25px;
	&__item a {
		font: 600 14px "Open Sans";		
		color: $lochmara;		
		text-decoration: underline;
		margin-right: 30px;
	}
}
.headerbottom {
	background: $white;
}
#homemenu_id, #medicalmenu_id, #dezinfactionmenu_id, #surgery_id {
	display: none;
}
a {
	text-decoration: none;
	color: $black;
	&:active {
		color: $black;
	}
}
.home-slider {
	&__container, &__wrapper, &__slide {
		width: 100%;
	}
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: $white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }
  .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: $black;
	opacity: 1;
	background: $lochmara;
	margin: 15px 10px;
  }
  .swiper-pagination-bullet-active {
	color: $white;
	background: $carnation;
  }
  .swiper-slide__item {
	  position: absolute;
	  width: 560px;
	  font: 300 36px "Open Sans";
	  background-color: rgba(55,174,213,0.6);
	   text-align: center;
	  padding: 15px;
	  color: $white;
	  line-height: 45px;
	  padding: 50px 80px;
	  top: 50px;
  }
.js-swiper-container{
	width: 100%;  
}
.catalog-more {
	font-size: 14px;
	color: $gray;
	text-align: center;
	margin: 0 auto 50px;
	border: 0;
	background: none;
	display: block;
	cursor: pointer;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.flex-assortiment {
	display: flex;
	justify-content: space-between;
	margin: 0 -15px 30px -15px;
}
.footer {
	background: $minshaft;
	padding: 20px;
}
.footercontact__txt {
	color: $gray;
	font-size: 12px;
	line-height: 20px;	
}
.footersearch__txt {
	color: $gray;
	font-size: 10px;
	margin: 8px;
}
.footerform {
	&__btn {
		font: 600 9px "Open Sans";
		color: $silver;
		background: $scorpion;		
		width: 67px;
		height: 27px;
		border: 0;
		border-radius: 3px;
		cursor: pointer;
	}
	&__label {
		color: $gray;
		font-size: 9px;
		margin: 8px;
	}	
}
.design {
	&__txt {
		color: $gray;
		font-size: 12px;
	}
	&__img {
		vertical-align: middle;
		margin-left: 15px;
	}
}
.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 auto;
	margin: 0 0 14px 0;
	color: $black;
	&__item {
		font-size: 12px;
		color: $black;
	}
	&__link {
		text-decoration: none;
		color: $black;
		&:after {
			content: "/";
			color: $black;
			padding: 5px;
		}
	}
}
.breadcrumb+h1 {
	margin-bottom: 20px;
}
.sublist {
	position: relative;
	top: 50px;
	display: block;
	&__item {
	color: $aluminum;
	font: 400 12px "Open Sans";
		&:before {
			content: ">";
			margin-right: 15px;
			color: $aluminum;
			font-size: 12px;
		}
		&:hover {
			color: $scooter;
			text-decoration: underline;
		}
	}
	&__quantity {
		color: $aluminum;
		font: 400 12px "Open Sans";
		margin-left: 20px;
	}
}
.subcategoryblock {
	width: calc(100% - 30px);
	display: flex;
	flex-wrap: wrap;
	margin-left: 15px;
	margin-right: 15px;
}
.subcat {
	font-size: 12px;
	color: $silver;
	padding: 20px 0 20px;
}
.subcat span a {
	font: 700 12px "Open Sans";
	color: $scooter;
	cursor: pointer;
}
.certificate {
	font: 400 16px "Open Sans";
	color: $black;
	text-transform: uppercase;
	padding: 10px 0 30px;
	line-height: 25px;
}
.price {
	padding: 0 0 40px;
	&__oldprice {
		font-size: 18px;
		color: $zest;
		text-decoration: line-through;
	}
	&__price {
		margin-left: 20px;
		font-size: 36px;
		color: $black;
		text-decoration: none;
	}
}
.buy {
	font: 400 16px "Open Sans";
	color: $white;
	text-transform: uppercase;
	text-align: center;
	width: 170px;
	height: 70px;
	margin: auto;
	background: $carnation;
	padding: 10px;	
	border: 0;
	cursor: pointer;
}
table {
	width: 100%; 
	margin-top: 15px;
}
table td {
	padding: 15px; 
	border: 1px solid #e3e3e3;
	width: 50%;
}
.doc {
	margin-bottom: 20px;
}
.teh-doc {
	margin-bottom: 5px;
}
.teh-doc a{
	color: $scooter;
	font-weight: 700;
	text-decoration: underline;
}
