@import 'variables';
body {
	font-family: $base-font;
	font-size: $big-space;
	line-height: 18px;
	color: $black;
	font-weight: $regular;
}
.header {
	flex: 0 0 auto;
}
.main {
	flex: 1 0 auto;
}
.content {
	padding: 20px;
}
.container {
	&__h4 {
		margin: 30px 0 50px;
		text-align: center;
		color: $gray;
		text-transform: uppercase;
		font-size: $font-base;
		font-weight: $regular;
	}
	&__h2 {
		text-align: center;
		font-size: $h2-space;
		color: $black;
		padding: 50px 0 20px 0;
		font-weight: 300;
	}
	&__p {
		text-align: center;
		font-size: $big-space;
		margin-bottom: 20px;
		line-height: 20px;
	}
}
.contact {
	&__p {
	line-height: 25px;
	}
	&__item {
		font-weight: $bold;	
		color: $dark-blue;
		border-bottom: 1px solid $dark-blue;
		line-height: 25px;
	}
	&__color {
		color: $very-light-gray;
	}
}
.assortiment {
	&__image-block {
		margin-right: 30px;
	}
	&__more {
		font-size: $desktop-space;
		color: $very-light-gray;
		font-weight: light;
		border-bottom: 1px dashed $dark-blue;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		font-style: italic;
		margin-top: 20px;
		background: none;
		cursor: pointer;
		outline: none;
	}
}
.product {
	&__aparat {
		font-size: $desktop-space;
		color: $light-gray;
		margin-bottom: 15px;
	}
	&__name {
		margin: 0 auto 20px;
	}
	&__a {
		width: 240px;
		font-size: $extrabig-space;
		color: $dark-blue;
		font-weight: $extrabold;
		line-height: 20px;
	}
	&__price {
		font-size: $extrabig-space;
		color: $black;
		font-weight: $bold;
	}
	&__pricenew {
		font-size: $extrabig-space;
		color: $black;
		font-weight: $bold;
		vertical-align: text-bottom;
	}
	&__oldprice {
		font-size: $desktop-space;
		color: $light-orange;
		font-weight: $bold;
		margin-right: 15px;
		text-decoration: line-through;
	}
	&__priceno {
		font-size: $font-base;
		color: $black;
		font-weight: $bold;
	}
	&__buy {
		font-size: $desktop-space;
		color: $white;
		text-transform: uppercase;
		text-align: center;
		width: 100px;
		margin: auto;
		background: $light-red;
		padding: 10px;
		font-weight: $bold;
		border-radius: 3px;
		margin-top: 20px;
		border: 0;
		cursor: pointer;	
	}
}
.interestoffers {
	background: url(/images/pattern.png);
	min-height: 850px;
}
.tabs {
	text-align: center;
	margin-bottom: 25px;
	&__item a {
		font-size: $font-base;
		color: $dark-blue;
		font-weight: $bold;
		text-decoration: underline;
		margin-right: 30px;
	}
}
.login {
	width: 110px;
	text-align: center;
	background: $white;
}
.headerbottom {
	background: $white;
}
#homemenu_id, #medicalmenu_id, #dezinfactionmenu_id, #surgery_id {
	display: none;
}
a {
	text-decoration: none;
	color: $black;
	&:active {
		color: $black;
	}
}
.home-slider {
	&__container, &__wrapper, &__slide {
		width: 100%;
	}
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: $white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }
  .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: $black;
	opacity: 1;
	background: $dark-blue;
	margin: 15px 10px;
  }
  .swiper-pagination-bullet-active {
	color: $white;
	background: $light-red;
  }
  .swiper-slide__item {
	  position: absolute;
	  width: 560px;
	  background-color: rgba(55,174,213,0.6);
	  font-size: $h2-space;
	  text-align: center;
	  padding: 15px;
	  color: $white;
	  font-weight: $light;
	  line-height: 45px;
	  padding: 50px 80px;
	  top: 50px;
  }
.js-swiper-container{
	width: 100%;  
}
.catalog-more {
	font-size: $font-base;
	color: $gray;
	text-align: center;
	margin: 0 auto 50px;
	border: 0;
	background: none;
	display: block;
	cursor: pointer;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.flex-assortiment {
	display: flex;
	justify-content: space-between;
	margin: 0 -15px 30px -15px;
}
.footer {
	background: $very-dark-gray;
	padding: 20px;
}
.footercontact__txt {
	color: $very-lighten-gray;
	font-size: $desktop-space;
	line-height: 20px;	
}
.footersearch__txt {
	color: $very-lighten-gray;
	font-size: $mobile-space;
	margin: 8px;
}
.footerform {
	&__btn {
		font-size: $extrasmall;
		color: $very-lighten-gray;
		background: $dark-gray;
		font-weight: bold;
		width: 67px;
		height: 27px;
		border: 0;
		border-radius: 3px;
		cursor: pointer;
	}
	&__label {
		color: $very-lighten-gray;
		font-size: $mobile-space;
		margin: 8px;
	}	
}
.design {
	&__txt {
		color: $very-light-gray;
		font-size: $desktop-space;
	}
	&__img {
		vertical-align: middle;
		margin-left: 15px;
	}
}