@import 'variables';
@media (min-width: $desktop) {
    .container {
        width: $lg;
        margin-left: auto;
        margin-right: auto;
        padding-left: $gutter;
        padding-right: $gutter;
    }
    .headertop-row {
        display: flex;
        justify-content: space-between;
        min-height: 50px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .haderbottom-row {
        display: flex;
        justify-content: space-between;
        min-height: 110px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .menu {
        width: 60%;
        margin: auto;
            &__btn {
                display: none;
            }
            &__top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            &__item {
                padding: 0 15px;
                list-style-type: none;
                font-size: $desktop-space;
                text-transform: uppercase;
                color: $gray;
                font-weight: $bold;
                a {
                    color: $gray;
                }
            }
    }   
    .headertop {
        background: $very-light-white;
    }
    .headerform {
        width: 15%;
        margin: auto 20px;
            &__input {
                background-image: url(../images/search.png);
                background-repeat: no-repeat;
                background-position: 10px;
                outline: none;
                font-size: $desktop-space;
                border: 1px solid $very-light-white;
                border-radius: 20px;
                padding: 0 30px;
                height: 30px;    
            }
    }    
    .logo {
        margin: auto;
        width: 25%;
        text-align: center;
    }
    .logincart {
        display: flex;
        width: 25%;
        line-height: 50px;
    }
    .login__item {
        font-size: $font-base;
        background-image: url(/images/login.png);
        background-repeat: no-repeat;
        background-position: 16px 19px;
        padding-left: 20px;
        font-weight: $bold;
        a {
            color: $very-dark-gray;
        } 
    }
    .cart {
        width: 205px;
        text-align: center;
        background: $light-red;
        font-weight: $bold;
        padding: 0 15px 0 15px;
        &__kol {
            color: $white;
            margin-left: 15px;
        }
        &__item {
            font-size: $font-base;
            background-image: url(/images/cart.png);
            background-repeat: no-repeat;
            background-position: 10px 13px;
            padding-left: 20px;
            a {
                color: $white;
            }
        }
    }     
    .contact {
        margin: auto 30px;
        color: $black;
        font-size: $font-base;
        width: 25%;
    }
    .hire {
        margin: 8px auto;
        width: 25%;
        &__color {
            color: $very-light-gray;
	        font-size: $desktop-space;
	        font-weight: $light;
        }
        &__item {
            display: flex;
        }
        &__p {
            color: $very-light-gray;
            font-size: $font-base;
            line-height: 45px;
        }
        &__weight {
            font-size: $desktop-space;
            color: $dark-blue;
            font-weight: $extrabold;
            background-image: url(/images/prokat.png);
            background-repeat: no-repeat;
            background-position: 1px;
            padding: 5px 0 0 40px;
        }
        &__button {
            color: $white;
            text-transform: uppercase;
            border-radius: 5px;
            background: $light-red;
            padding: 10px;
            font-size: $desktop-space;
            text-align: center;
            font-weight: $bold;
            width: 110px;
            margin-right: 30px;
            cursor: pointer;
            border: 0;
        }
    }   
    .assortiment {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px 30px -15px;
        &__column {
            display: flex;
            width: 25%;
            margin-right: 30px;
        }
        &__caption {
            display: block;
            font-size: $extrabig-space;
            color: $dark-blue;
            font-weight: $extrabold;
            line-height: 20px;
            margin-bottom: 15px;
        }
        &__item {
            display: flex;
            font-size: $big-space;
            color: $black;
            list-style-type: none;
            line-height: 25px;
        &:hover a {
            text-decoration: underline;
            color: $dark-blue;
        }
        &:before {
            content: "\203A";
            font-size: $li-space;
            margin-right: 10px;
            color: $dark-blue;
            font-weight: $regular;
        }
        }       
    }   
    .catalog {
        background: $dark-blue;
        font-size: $big-space;
        text-transform: uppercase;
        font-weight: $bold;
        padding: 20px;
        color: $white;
        width: 470px;
        margin: 0 auto 30px;
        border: 0;
        cursor: pointer;
        display: block;	
    }
    .productblock {
        display: flex;
        justify-content: space-between;
    }
    .product {
        position: relative;
	    width: 25%;
	    background: $white;
	    text-align: center;
	    padding: 10px 0 20px 0;
        margin-right: 30px;
        &__img {
            height: 204px;
            margin-bottom: 30px;
        }
        &__stickernew{
	        position: absolute;
	        top: 195px;
	        left: 0;
	        background: $light-green;
	        padding: 5px;
	        font-size: $extrasmall;
	        color: $white;
            font-weight: $bold;
        }
        &__stickerbest {
            position: absolute;
	        top: 195px;
	        left: 0;
	        background: $light-orange;
	        padding: 5px;
	        font-size: $extrasmall;
	        color: $white;
	        font-weight: $bold;
        }
        &__stickerhit {
            position: absolute;
	        top: 195px;
	        left: 0;
	        background: $light-purple;
	        padding: 5px;
	        font-size: $extrasmall;
	        color: $white;
	        font-weight: $bold;
        }
        &__caption {
            padding: 0 20px;
            min-height: 220px;
        }
        &__for {
            font-size: $big-space;
            color: $black;
            line-height: 20px;
        }
    }
.footer-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.footerform {
    display: flex;
    &__input {
        background: $light-gray;
	    width: 210px;
	    outline: none;
	    border: 0;
	    height: 25px;
	    margin-right: 10px;
	    border-radius: 3px;
    }
}
.footertxt {
	color: $very-light-gray;
	font-size: $desktop-space;
}
}
@media (min-width: 993px) and (max-width: 1339px) {
    .container {
        width: $laptops;
        margin-left: auto;
        margin-right: auto;
        padding-left: $gutter;
        padding-right: $gutter;
    }
    .headertop-row {
        display: flex;
        justify-content: space-between;
        min-height: 50px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .haderbottom-row {
        display: flex;
        justify-content: space-between;
        min-height: 110px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .menu {
        width: 50%;
        margin: auto;
        &__btn {
            display: none;
        }
        &__top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__item {
            padding: 0 15px;
            list-style-type: none;
            font-size: $mobile-space;
            text-transform: uppercase;
            color: $gray;
            font-weight: $bold;
            a {
            color: $gray;
            }
        }
    }    
    .headerform {
        width: 20%;
        margin: auto;
        &__input {
            background-image: url(../images/search.png);
            background-repeat: no-repeat;
            background-position: 10px;
            outline: none;
            font-size: $mobile-space;
            border: 1px solid $very-light-white;
            border-radius: 20px;
            padding: 0 30px;
            height: 30px;
        }
    }
    .headertop {
        background: $very-light-white;
        overflow: hidden;
    }
    .logincart {
        display: flex;
        width: 30%;
        line-height: 50px;
    }
    .logo {
        margin: auto;
        text-align: center;
        &__img {
            width: 200px;
        }
        &__item {
            font-size: $desktop-space;
            background-image: url(/images/login.png);
            background-repeat: no-repeat;
            background-position: 16px 19px;
            padding-left: 20px;
            font-weight: $bold;
            a {
                color: $very-dark-gray;
            } 
        }
    }    
    .cart {
        width: 165px;
        text-align: center;
        background: $light-red;
        font-weight: $bold;
        &__kol {
            color: $white;
            margin-left: 5px;
        }
        &__item {
            font-size: $desktop-space;
            background-image: url(/images/cart.png);
            background-repeat: no-repeat;
            background-position: 10px 13px;
            a {
            color: $white;
            }    
        }   
    }
    .catalog {
        background: $dark-blue;
        font-size: $big-space;
        text-transform: uppercase;
        font-weight: $bold;
        padding: 20px;
        color: $white;
        width: 470px;
        margin: 0 auto 30px;
        border: 0;
        cursor: pointer;
        display: block;	
    }
    .contact {
        margin: 10px;
        color: $black;
        font-size: $desktop-space;       
    }
    .hire {
        margin: 8px auto;
        width: 25%;
        &__p {
            color: $very-light-gray;
            font-size: $desktop-space;
            line-height: 45px;
        }
        &__item {
            display: block;
        }
        &__block {
            margin-top: 10px;
        }
        &__weight {
            font-size: $mobile-space;
            color: $dark-blue;
            font-weight: $extrabold;
            background-image: url(/images/prokat.png);
            background-repeat: no-repeat;
            background-position: 1px;
            padding: 5px 0 0 40px;
            margin-right: 5px;
        }
        &__button {
            color: $white;
            text-transform: uppercase;
            border-radius: 5px;
            background: $light-red;
            padding: 10px;
            font-size: $mobile-space;
            text-align: center;
            font-weight: $bold;
            width: 110px;
            margin-right: 30px;
            cursor: pointer;
            border: 0;
        }
    }
    .assortiment {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &__column {
            display: flex;
            flex: auto;
            margin: 15px 30px;
        }
        &__caption {
            display: block;
            font-size: $big-space;
            color: $dark-blue;
            font-weight: $extrabold;
            line-height: 20px;
            margin-bottom: 15px;
        }
        &__item {
            display: flex;
            font-size: $font-base;
            color: $black;
            list-style-type: none;
            line-height: 25px;
            &:hover a {
                text-decoration: underline;
                color: $dark-blue;
            }
            &:before {
                content: "\203A";
                font-size: $li-space;
                margin-right: 10px;
                color: $dark-blue;
                font-weight: $regular;
            }
        }
    }
    .productblock {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .product {
        position: relative;
        width: 25%;
        background: $white;
        text-align: center;
        padding: 10px 0 20px 0;
        margin: 30px;
        &__img {
            max-width: 100%;
            height: auto;
            margin-bottom: 30px;
        }
        &__stickernew {
            position: absolute;
            top: 165px;
            left: 0;
            background: $light-green;
            padding: 5px;
            font-size: $extrasmall;
            color: $white;
            font-weight: $bold;
        }
        &__stickerbest {
            position: absolute;
            top: 165px;
            left: 0;
            background: $light-orange;
            padding: 5px;
            font-size: $extrasmall;
            color: $white;
            font-weight: $bold;
        }
        &__stickerhit {
            position: absolute;
            top: 165px;
            left: 0;
            background: $light-purple;
            padding: 5px;
            font-size: $extrasmall;
            color: $white;
            font-weight: $bold; 
        }
        &__caption {
            padding: 0 20px;
            min-height: 220px;
        }
        &__for {
            font-size: $big-space;
            color: $black;
            line-height: 20px;
        }
    }   
    .footer-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }   
    .footerform {
        display: flex;
        &__input {
            background: $very-light-gray;
            width: 210px;
            outline: none;
            border: 0;
            height: 25px;
            margin-right: 10px;
            border-radius: 3px; 
        }
    }
    .footertxt {
        color: $very-light-gray;
        font-size: $desktop-space;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .container {
        width: $tablet;
        margin-left: auto;
        margin-right: auto;
        padding-left: $gutter;
        padding-right: $gutter;
    }
    .headertop-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 50px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .haderbottom-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 110px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .menu {
        margin: 20px 0;
        &__btn {
            display: none;
        }
        &__top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__item {
            padding: 0 15px;
            list-style-type: none;
            font-size: $desktop-space;
            text-transform: uppercase;
            color: $gray;
            font-weight: $bold;
            a {
                color: $gray;
            }
        }
    }   
    .logo {
        margin: auto;
        text-align: center;
        order: 1;
    }
    .headerform {
        margin: 8px;
        order: 3;
        &__input {
            background-image: url(../images/search.png);
            background-repeat: no-repeat;
            background-position: 10px;
            outline: none;
            font-size: $desktop-space;
            border: 1px solid $very-light-white;
            border-radius: 20px;
            padding: 0 30px;
            height: 30px;
        }
    }
    .headertop {
        background: $very-light-white;
        overflow: hidden;       
    }    
    .logincart {
        display: flex;
        line-height: 50px;
    }
    .login__item {
        font-size: $desktop-space;
        background-image: url(/images/login.png);
        background-repeat: no-repeat;
        background-position: 16px 19px;
        padding-left: 20px;
        font-weight: $bold;
        a {
            color: $very-dark-gray;
        } 
    }
    .cart {
        width: 165px;
        text-align: center;
        background: $light-red;
        font-weight: $bold;
        &__kol {
            color: $white;
            margin-left: 5px;
        }
        &__item {
            font-size: $desktop-space;
            background-image: url(/images/cart.png);
            background-repeat: no-repeat;
            background-position: 10px 13px;
            a {
                color: $white;
            }
        }
    }   
    .catalog {
        background: $dark-blue;
        font-size: $big-space;
        text-transform: uppercase;
        font-weight: $bold;
        padding: 20px;
        color: $white;
        width: 470px;
        margin: 0 auto 30px;
        border: 0;
        cursor: pointer;
        display: block;	
    }
    .contact {
        margin: 10px;
        color: $black;
        font-size: $font-base;
        order: 3;   
    }
    .hire {
        margin: 8px auto;
        order: 2;
        &__p {
            color: $very-light-gray;
            font-size: $font-base;
            line-height: 45px;
        }
        &__item {
            display: flex;
        }
        &__block {
            margin-top: -10px;
        }
        &__weight {
            font-size: $font-base;
            color: $dark-blue;
            font-weight: $extrabold;
            background-image: url(/images/prokat.png);
            background-repeat: no-repeat;
            background-position: 1px;
            padding: 5px 0 0 40px;
            margin-right: 5px;
        }
        &__button {
            color: $white;
            text-transform: uppercase;
            border-radius: 5px;
            background: $light-red;
            padding: 10px;
            font-size: $desktop-space;
            text-align: center;
            font-weight: $bold;
            width: 110px;
            margin-right: 30px;
            cursor: pointer;
            border: 0;
        }
    }    
    .assortiment {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &__column {
            display: flex;
            flex: 1;
            margin: 15px 30px;
        }
        &__caption {
            display: block;
            font-size: $big-space;
            color: $dark-blue;
            font-weight: $extrabold;
            line-height: 20px;
            margin-bottom: 15px;
        }
        &__item {
            display: flex;
            font-size: $font-base;
            color: $black;
            list-style-type: none;
            line-height: 25px;
            &:hover a {
                text-decoration: underline;
                color: $dark-blue;
            }
            &:before {
                content: "\203A";
                font-size: $li-space;
                margin-right: 10px;
                color: $dark-blue;
                font-weight: $regular;
            }
        }
    }
    .productblock {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .product {
        position: relative;
        background: $white;
        text-align: center;
        padding: 10px 0 20px 0;
        margin: 30px;
        flex: 1;
        &__img {
            max-width: 100%;
            height: auto;
            margin-bottom: 30px;
        }
        &__stickernew {
            position: absolute;
            top: 165px;
            left: 0;
            background: $light-green;
            padding: 5px;
            font-size: $extrasmall;
            color: $white;
            font-weight: $bold;
        }
        &__stickerbest {
            position: absolute;
            top: 165px;
            left: 0;
            background: $light-orange;
            padding: 5px;
            font-size: $extrasmall;
            color: $white;
            font-weight: $bold;
        }
        &__stickerhit {
            position: absolute;
            top: 165px;
            left: 0;
            background: $light-purple;
            padding: 5px;
            font-size: $extrasmall;
            color: $white;
            font-weight: $bold;
        }
        &__caption {
            padding: 0 20px;
            min-height: 220px;
        }
        &__for {
            font-size: $big-space;
            color: $black;
            line-height: 20px;
        }
    }
    .footer-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }    
    .footerform {
        display: flex;
        &__input {
            background: $very-light-gray;
            width: 210px;
            outline: none;
            border: 0;
            height: 25px;
            margin-right: 10px;
            border-radius: 3px;
        }
    }
    .footertxt {
        color: $very-light-gray;
        font-size: $desktop-space;
    }
}
@media (min-width: 320px) and (max-width: 768px) {
    .container {
        width: $mobile;
        margin-left: auto;
        margin-right: auto;
        padding-left: $gutter;
        padding-right: $gutter;
    }   
    .nav__navbar {
        background-image: url(../images/navbar.png);
        width: 32px;
        height: 32px;
    }
    .headertop-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 50px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .haderbottom-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        min-height: 110px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .menu {
        margin: 10px;
        &__top {
            display: none;
            position: absolute;
            background: #fff;
            padding: 15px;
        }
        &__item {
            padding: 5px;
            list-style-type: none;
            font-size: $desktop-space;
            text-transform: uppercase;
            color: $gray;
            font-weight: $bold;
            a {
                color: $gray;
            }
        }
        &__btn {
            background: #fff;
            border: 0;
            cursor: pointer;
        }
    }    
    .logo {
        margin: 15px auto;
        text-align: center;
    }
    .headerform {
        margin: 10px;
        &__input {
            background-image: url(../images/search.png);
            background-repeat: no-repeat;
            background-position: 10px;
            outline: none;
            font-size: $mobile-space;
            border: 1px solid $very-light-white;
            border-radius: 20px;
            padding: 0 30px;
            height: 30px;
        }
    }
    .headertop {
        background: $very-light-white;
        overflow: hidden;
    }   
    .logincart {
        display: flex;
        line-height: 50px;
    }
    .login__item {
        font-size: $desktop-space;
        background-image: url(/images/login.png);
        background-repeat: no-repeat;
        background-position: 16px 19px;
        padding-left: 20px;
        font-weight: $bold;
        a {
            color: $very-dark-gray;
        } 
    }
    .cart {
        width: 165px;
        text-align: center;
        background: $light-red;
        font-weight: $bold;
        &__kol {
            color: $white;
            margin-left: 5px;
        }
        &__item {
            font-size: $desktop-space;
            background-image: url(/images/cart.png);
            background-repeat: no-repeat;
            background-position: 10px 13px;
            a {
                color: $white;
            }
        }
    }    
    .catalog {
        background: $dark-blue;
        font-size: $desktop-space;
        text-transform: uppercase;
        font-weight: $bold;
        padding: 20px;
        color: $white;
        margin: 0 auto 30px;
        border: 0;
        cursor: pointer;
        display: block;	
    }
    .contact {
        margin: 10px auto;
        color: $black;
        font-size: $desktop-space;       
    }
    .hire {
        margin: 8px auto 20px;
        width: 290px;
        &__p {
            color: $very-light-gray;
            font-size: $desktop-space;
            line-height: 45px;
        }
        &__item {
            display: flex;
        }
        &__block {
            margin-top: -10px;
        }
        &__weight {
            font-size: $mobile-space;
            color: $dark-blue;
            font-weight: $extrabold;
            background-image: url(/images/prokat.png);
            background-repeat: no-repeat;
            background-position: 1px;
            padding: 5px 0 0 40px;
            margin-right: 5px;
        }
        &__button {
            color: $white;
            text-transform: uppercase;
            border-radius: 5px;
            background: $light-red;
            padding: 10px;
            font-size: $mobile-space;
            text-align: center;
            font-weight: $bold;
            width: 110px;
            margin-right: 30px;
            cursor: pointer;
            border: 0;
        }
    }    
    .assortiment {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &__column {
            display: flex;
            flex: 1;
            margin: 15px 30px;
        }
        &__caption {
            display: block;
            font-size: $big-space;
            color: $dark-blue;
            font-weight: $extrabold;
            line-height: 20px;
            margin-bottom: 15px;
        }
        &__item {
            display: flex;
            font-size: $font-base;
            color: $black;
            list-style-type: none;
            line-height: 25px;
            &:hover a {
                text-decoration: underline;
                color: $dark-blue;
            }
            &:before {
                content: "\203A";
                font-size: $li-space;
                margin-right: 10px;
                color: $dark-blue;
                font-weight: $regular;
            }
        }
    }    
    .productblock {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .product {
        position: relative;
        background: $white;
        text-align: center;
        padding: 10px 0 20px 0;
        margin: 30px;
        flex: 1;
        &__img {
            max-width: 100%;
            height: auto;
            margin-bottom: 30px;
        }
        &__stickernew {
            position: absolute;
            top: 165px;
            left: 0;
            background: $light-green;
            padding: 5px;
            font-size: $extrasmall;
            color: $white;
            font-weight: $bold;
        }
        &__stickerbest {
            position: absolute;
            top: 165px;
            left: 0;
            background: $light-orange;
            padding: 5px;
            font-size: $extrasmall;
            color: $white;
            font-weight: $bold;
        }
        &__stickerhit {
            position: absolute;
            top: 165px;
            left: 0;
            background: $light-purple;
            padding: 5px;
            font-size: $extrasmall;
            color: $white;
            font-weight: $bold;
        }
        &__caption {
            padding: 0 20px;
            min-height: 220px;
        }
        &__for {
            font-size: $big-space;
            color: $black;
            line-height: 20px;
        }
    }    
    .footer-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }    
    .footerform {
        display: flex;
        margin-top: 15px;
        &__input {
            background: $very-light-gray;
            width: 110px;
            outline: none;
            border: 0;
            height: 25px;
            margin-right: 10px;
            border-radius: 3px;
        }
    }
    .design {
        margin-top :15px;
    }
    .footertxt {
        color: $very-light-gray;
        font-size: $desktop-space;
        padding: 10px;
    }
}