//font-family
$base-font: 'Open Sans', sans-serif;
$base-size: 12px;
$base-weight: 400;

//@media
$desktop: 1340px;
$laptops: 993px;
$tablet: 720px;
$mobile: 320px;
$xs: 320px;
$sm: 768px;
$md: 992px;
$lg: 1320px;
$gutter: 15px;

//color
$black: #000000;
$white: #ffffff;
$seashell: #f1f1f1;
$carnation: #f46464;
$silver: #cccccc;
$emperor: #4f4f4f;
$minshaft: #373737;
$scorpion: #595959;
$gray: #8a8a8a;
$dustygray: #9b9a9a;
$aluminum: #b0b0b0;
$mercury: #e3e3e3;
$lochmara: #0889cc;
$scooter: #41b2d7;
$blizzard: #a4d4ec;
$polar: #e8f5f9;
$curious: #33a4d9;
$sushi: #8dbe47;
$jaffa: #f49639;
$zest: #e98522;
$mediumpurple: #a073eb;