$font_family_1: 'Open Sans', sans-serif;
$xs: 320px;
$sm: 768px;
$md: 992px;
$lg: 1340px;
$fs_6: 9px;
$fs_5: 10px;
$fs_0: 12px;
$fs_3: 14px;
$fs_1: 16px;
$fs_2: 18px;
$fs_7: 22px;
$fs_4: 36px;
$color_1: #000000;
$color_2: #f1f1f1;
$color_3: #4f4f4f;
$color_4: #e6e6e6;
$color_5: #ffffff;
$color_6: #f46464;
$color_7: #2f2f2f;
$color_8: #1e1e1e;
$color_9: #0889cc;
$color_10: #9a9a9a;
$color_11: #42b3d7;
$color_12: #373737;
$color_13: #929292;
$color_14: #cccccc;
$color_15: #8a8a8a;
$color_16: #595959;
$color_17: #8dbe47;
$color_18: #f49639;
$color_19: #a073eb;