extends ../blocks/default.pug
block .main
	+b.container
		+b.OL.breadcrumb
			+e.item
				+e.A.link(href='#') Главная
			+e.item
				+e.A.link(href='#') Каталог
		+b.H1 Каталог		
		+b.row
			+b.subcategoryblock
				+b.button-group
					+e.container
						+e.show Показано товаров: 6
					+b.sorting#js-sorting
						+e.container
							+e.SPAN.name Сортировать по: 
							+e.SPAN.position наименованию
							+e.UL.sorting-hidden
								+e.item популярности
								+e.item алфавиту
								+e.item новинки
								+e.item лучшая цена
								+e.item хит продаж
				+b.product-subcategory
					+e.IMG.img(src='/images/1.png', alt='')
					+e.stickernew Новинка
					+e.caption
						+e.aparat Физиотерапевтические аппараты
						+e.name 
							+e.a(href='#') Электроды для дарсонвализации
						+e.for Для аппаратов «Корона», «Карат», «Ультратек»
					+e.priceblock
						+e.price 1 500 Р
						+e.a(href='#')
							+e.BUTTON(type='button').buy купить »
				+b.product-subcategory
					+e.IMG.img(src='/images/2.png', alt='')
					+e.stickerbest Лучшая цена
					+e.caption
						+e.aparat Тонометры Автоматические
						+e.name 
							+e.a(href='#') Тонометр автоматический с функцией диагностики аритмии Microlife BP A100
						+e.for Для пенсионеров скидки!!!
					+e.priceblock
						+e.sale
							+e.SPAN.oldprice 3 870 P
							+e.SPAN.pricenew 1 500 Р
						+e.a(href='#')
							+e.BUTTON(type='button').buy купить »
				+b.product-subcategory
					+e.IMG.img(src='/images/3.png', alt='')
					+e.stickernew Новинка
					+e.caption
						+e.aparat Физиотерапевтические аппараты
						+e.name 
							+e.a(href='#') Концентратор кислородный 7F-1L
						+e.for Для сеансов профилактической кислородотерапии, приготовления кислородных коктейлей
					+e.priceblock
						+e.price 1 500 Р
						+e.a(href='#')
							+e.BUTTON(type='button').buy купить »			
				+b.product-subcategory
					+e.IMG.img(src='/images/1.png', alt='')
					+e.stickernew Новинка
					+e.caption
						+e.aparat Физиотерапевтические аппараты
						+e.name 
							+e.a(href='#') Электроды для дарсонвализации
						+e.for Для аппаратов «Корона», «Карат», «Ультратек»
					+e.priceblock
						+e.price 1 500 Р
						+e.a(href='#')
							+e.BUTTON(type='button').buy купить »
				+b.product-subcategory
					+e.IMG.img(src='/images/2.png', alt='')
					+e.stickerbest Лучшая цена
					+e.caption
						+e.aparat Тонометры Автоматические
						+e.name 
							+e.a(href='#') Тонометр автоматический с функцией диагностики аритмии Microlife BP A100
						+e.for Для пенсионеров скидки!!!
					+e.priceblock
						+e.sale
							+e.SPAN.oldprice 3 870 P
							+e.SPAN.pricenew 1 500 Р
						+e.a(href='#')
							+e.BUTTON(type='button').buy купить »
				+b.product-subcategory
					+e.IMG.img(src='/images/3.png', alt='')
					+e.stickernew Новинка
					+e.caption
						+e.aparat Физиотерапевтические аппараты
						+e.name 
							+e.a(href='#') Концентратор кислородный 7F-1L
						+e.for Для сеансов профилактической кислородотерапии, приготовления кислородных коктейлей
					+e.priceblock
						+e.price 1 500 Р
						+e.a(href='#')
							+e.BUTTON(type='button').buy купить »
				+b.UL.pagination.container
					+b.prev
						+b.SPAN Назад
					+b.active
						+e.A.link(href='#') 1
					+b
						+e.A(href='#') 2
					+b
						+e.A(href='#') 3
					+b
						+e.A(href='#') 4
					+b ...
					+b
						+e.A(href='#') 14
					+b
						+e.A(href='#') 15
					+b
						+e.A(href='#') 16
					+b
						+e.A(href='#') 17
					+b.next
						+b.SPAN Вперед