extends ../layouts/default.pug
block .main
	+b.SECTION
		+b.home-slider
			+b.js-swiper-container
				+b.swiper-wrapper
					+b.swiper-slide
						+e.SPAN.item Уже 50 лет мы обеспечиваем бесперебойную работу медицинской техники
						+e.IMG(src='/images/slide.jpg', alt='')
					+b.swiper-slide.home-slider__slide
						+e.IMG(src='/images/slide.jpg', alt='')
	+b.SECTION
		+b.js-swiper-pagination
	
	+b.SECTION.container.content
		+e.H4.h4 Ассортимент нашей продукции
		+b.asortiment-catalog#js-asortiment-catalog
			for catalog in catalogList
				+assortiment(catalog)
		+b.BUTTON(type='button').catalog Перейти в полный каталог продукции
		+b.BUTTON(type='button').catalog-more Ещё 9 категорий медицинских товаров
	+b.SECTION.interestoffers
		+b.container
			+e.h2 Интересные предложения:
			+b.tabs
				+e.SPAN.item 
					+e.a(href='#') Все новинки
				+e.SPAN.item 
					+e.a(href='#') Все хиты продаж
				+e.SPAN.item 
					+e.a(href='#') Лучшая цена
			+b.productblock
				+b.product
					+e.IMG.img(src='/images/1.png', alt='')
					+e.stickernew Новинка
					+e.caption
						+e.aparat Физиотерапевтические аппараты
						+e.name 
							+e.a(href='#') Электроды для дарсонвализации
						+e.for Для аппаратов «Корона», «Карат», «Ультратек»
					+e.priceblock
						+e.price 1 500 Р					
						+e.BUTTON(type='button').buy купить »
				+b.product
					+e.IMG.img(src='/images/2.png', alt='')
					+e.stickerbest Лучшая цена
					+e.caption
						+e.aparat Тонометры Автоматические
						+e.name 
							+e.a(href='#') Тонометр автоматический с функцией диагностики аритмии Microlife BP A100
						+e.for Для пенсионеров скидки!!!
					+e.priceblock
						+e.sale
							+e.SPAN.oldprice 3 870 P
							+e.SPAN.pricenew 1 500 Р
							+e.BUTTON(type='button').buy купить »
				+b.product
					+e.IMG.img(src='/images/3.png', alt='')
					+e.stickernew Новинка
					+e.caption
						+e.aparat Физиотерапевтические аппараты
						+e.name 
							+e.a(href='#') Концентратор кислородный 7F-1L
						+e.for Для сеансов профилактической кислородотерапии, приготовления кислородных коктейлей
					+e.priceblock
						+e.price 1 500 Р
						+e.BUTTON(type='button').buy купить »			
				+b.product
					+e.IMG.img(src='/images/1.png', alt='')
					+e.stickerhit Хит продаж
					+e.caption
						+e.aparat Физиотерапевтические аппараты
						+e.name 
							+e.a(href='#') Электроды для дарсонвализации
						+e.for Для аппаратов «Корона», «Карат», «Ультратек»
					+e.priceblock
						+e.price 1 500 Р
						+e.BUTTON(type='button').buy купить »

	+b.SECTION.container.content
		+e.h2 Медицинская техника в Пензе и Пензенской области
		+e.p ЗАО «Медтехника» осуществляет свою деятельность с 1965 года. В течение четырех десятилетий мы обеспечиваем бесперебойное функционирование и обновление парка медицинской техники в лечебно-профилактических учреждениях города и области. В настоящее время ЗАО «Медтехника» представляет собой современное предприятие, обеспечивающее лечебно-профилактические учреждения медицинской техникой, расходными материалами, предоставляющее полный спектр услуг, обеспечивающих бесперебойную и безопасную эксплуатацию медицинской техники. Высококвалифицированные специалисты, технологическое и инструментальное оснащение производства, развитая инфраструктура – все это позволяет выполнять работы на высоком техническом уровне. ЗАО «Медтехника» оказывает услуги населению г. Пензы и Пензенской области, участвует в национальном проекте «Здоровье» и программах модернизации здравоохранения. 