extends ../layouts/default.pug
block .main
	+b.container
		+b.OL.breadcrumb
			+e.item
				+e.A.link(href='#') Главная
			+e.item
				+e.A.link(href='#') Каталог
			+e.item
				+e.A.link(href='#') Товары для дома
			+e.item
				+e.A.link(href='#') Тонометры
			+e.item
				+e.A.link(href='#') Тонометры автоматические			
		+b.row
			+b.card-product
				+e.image
					+e.A.img(a href='#')
						+e.IMG.main(src='/images/product.png')
				+e.info
					+b.H1 Автоматический тонометр для людей с пониженным зрением B.Well WA-77 «Talking»
					+b.P.subcat Подкатегория: 
						+e.SPAN 
							+e.A(href='#') Тонометры Автоматические
					+b.P.certificate Данный товар имеет сертификат соответствия и регистрационное удостоверение
					+b.price 
						+e.SPAN.oldprice 3 870 P
						+e.SPAN.price 3 870 P
					+b.BUTTON(type='button').buy купить »
			+b.product-description
				+b.H2 Описание
				+e.P.description Микроскоп предназначен для наблюдения и морфологических исследований препаратов в проходящем свете по методу светлого поля. МИКРОМЕД Р-1 может быть использован при учебных и лабораторных работах в различных областях медицины для решения широкого круга задач, в ветеринарии. На микроскопе можно изучать окрашенные и неокрашенные биологические объекты в виде мазков и срезов.
				+e.P.description МИКРОМЕД Р-1 обеспечивает возможность вывода изображения в режиме реального времени на экран ПК с помощью видеоокуляра (в комплект не входит) для количественного анализа структур исследуемых объектов.
				+b.H2 Технические характеристики
				+e.TABLE.characteristics
					+e.TR
						+e.TD Увеличение микроскопа, крат 40
						+e.TD 1600 (20 - 2000* - опция)
					+e.TR
						+e.TD Увеличение микроскопа, крат 40
						+e.TD 1600 (20 - 2000* - опция)
					+e.TR
						+e.TD Увеличение микроскопа, крат 40
						+e.TD 1600 (20 - 2000* - опция)
					+e.TR
						+e.TD Увеличение микроскопа, крат 40
						+e.TD 1600 (20 - 2000* - опция)
					+e.TR
						+e.TD Увеличение микроскопа, крат 40
						+e.TD 1600 (20 - 2000* - опция)
				+b.H2 Преимущества
				+e.UL.advantages
					+e.item Абсолютно безопасные для использования в присутствии людей
					+e.item Абсолютно безопасные для использования в присутствии людей
					+e.item Абсолютно безопасные для использования в присутствии людей
					+e.item Абсолютно безопасные для использования в присутствии людей
					+e.item Абсолютно безопасные для использования в присутствии людей
					+e.item Абсолютно безопасные для использования в присутствии людей
				+b.H2 Дополнительно
				+b.doc 
					+e.a(href='#') Скачать документы для ознакомления
				+b.teh-doc 
					+e.a(href='#') Спецификации.doc
				+b.teh-doc 
					+e.a(href='#') Техническая документация.pdf
	+b.interest
		+b.container
			+e.H1 Вас также может заинтересовать:			
			+b.productblock
				+b.product
					+e.IMG.img(src='/images/1.png', alt='')
					+e.stickernew Новинка
					+e.caption
						+e.aparat Физиотерапевтические аппараты
						+e.name 
							+e.a(href='#') Электроды для дарсонвализации
						+e.for Для аппаратов «Корона», «Карат», «Ультратек»
					+e.priceblock
						+e.price 1 500 Р
						+e.a(href='#')
							+e.BUTTON(type='button').buy купить »
				+b.product
					+e.IMG.img(src='/images/2.png', alt='')
					+e.stickerbest Лучшая цена
					+e.caption
						+e.aparat Тонометры Автоматические
						+e.name 
							+e.a(href='#') Тонометр автоматический с функцией диагностики аритмии Microlife BP A100
						+e.for Для пенсионеров скидки!!!
					+e.priceblock
						+e.sale
							+e.SPAN.oldprice 3 870 P
							+e.SPAN.pricenew 1 500 Р
						+e.a(href='#')
							+e.BUTTON(type='button').buy купить »
				+b.product
					+e.IMG.img(src='/images/3.png', alt='')
					+e.stickernew Новинка
					+e.caption
						+e.aparat Физиотерапевтические аппараты
						+e.name 
							+e.a(href='#') Концентратор кислородный 7F-1L
						+e.for Для сеансов профилактической кислородотерапии, приготовления кислородных коктейлей
					+e.priceblock
						+e.price 1 500 Р
						+e.a(href='#')
							+e.BUTTON(type='button').buy купить »
				+b.product
					+e.IMG.img(src='/images/4.png', alt='')
					+e.SPAN.stickerhit Хит продаж
					+e.caption
						+e.aparat Тонометры Автоматические
						+e.name 
							+e.a(href='#') Тонометр автоматический с функцией диагностики аритмии Microlife BP A100
						+e.for ДАННЫЙ ТОВАР ИМЕЕТ РЕГИСТРАЦИОННОЕ УДОСТОВЕРЕНИЕ!
					+e.priceblock
						+e.priceno цена не указана
						+e.a(href='#')
							+e.BUTTON(type='button').buy купить »	