include ../bemto/bemto.pug
doctype html
html
	include ../blocks/head.pug
	body.body
		+b.main
			include ../blocks/header.pug
			+b.main__content
				block .main__content
			include ../blocks/footer.pug
		script(src='/js/swiper.min.js')
		script(src='/js/vendor.min.js')