include ../bemto/bemto.pug
include ../mixin/categorylist.pug
include ../mixin/productlist.pug
include ../mixin/topmenu.pug
doctype html
html
	include ../blocks/head.pug
	body
		include ../blocks/header.pug
		+b.MAIN.main
			block .main
		include ../blocks/footer.pug
		script(src='/js/libs.js')
		script(src='/js/catalog.js')